@use 'hgrid-css/sass/hgrid' with (

  // These are examples of variables 
  // you can customize. Full list: 
  // https://github.com/ahansson/hgrid-css/blob/main/sass/variables/_variables.scss

  $link-color: #b4006f,
  $body-bg: #f0d8a4,
  $turn-off-link-decoration: true,
  $use-global-link-underlines: true,
  $include-grid: false,
  $include-fade: false,
  $include-flash: false,
  $include-rotate: false,
  $include-scroll: false,
  $include-spinner: false,
  $include-transition: false,
  $link-underline-color: #d569a6
);